.App {
  text-align: center;
}

.App-header {
  border-top: 50px solid #282c34;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul.ticket-selection {
  list-style: none;
  margin: 10px;
  padding: 0;
}

li.ticket-selection {
  border: 1px solid black;
  padding: 20px;
  margin: 5px;
  box-shadow: 10px;
  background-color: #3a4356;
  border-radius: 8px;
}

li.ticket-selection:hover {
  background-color: #647390;
}

.continue-button {
  display: block;
  margin: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 300px;
  font-size: 20px;
  border-radius: 8px;
}

.home-button {
  display: block;
  margin: 30px;
  justify-content: center;
  position:absolute;
  top:0;
  left:0;
  font-size: 20px;
  border-radius: 8px;
}

.custom-button {
  display: block;
  margin: 30px;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 300px;
  font-size: 20px;
  border-radius: 8px;
}

